.portrait {

    border-width: 3px;
    border-color: black;
    border-style: solid;
    width: 500px;
    margin: auto;
}

div,p,h1,body{
    padding:0px;
    margin:0px;
}


.Sections{
    cursor:pointer;
    width:100%;
    margin:0em;
    background-color:#d7dee4;
    text-align:center;
}
.Sections:hover{
    background-color:#e2e9f0;
}