.portrait {

    border-width: 3px;
    border-color: black;
    border-style: solid;
    width: auto;
    margin: 1.2em;
}

div,p,h1,body{
    padding:0px;
    margin:0px;
}


.Sections{
    width:100%;
    margin:0em;
    background-color: #e2e9f0;
    text-align:center;
}